@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definindo nossas cores personalizadas */
:root {
  /* Verde Neon Tecnológico */
  --nicopel-green: #00ffa3; 
  /* Fundo Preto Profundo */
  --nicopel-dark: #050505;
  /* Fundo de Paineis (um pouco mais claro que o preto total) */
  --nicopel-panel: #111111;
}

body {
  /* Aplica o tema escuro no site todo */
  background-color: var(--nicopel-dark);
  color: #e2e8f0; /* Texto claro padrão (slate-200) */
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Classe utilitária para um brilho verde */
.glow-tech {
  box-shadow: 0 0 20px -5px var(--nicopel-green);
}

/* Input autofill do Chrome ficando feio no tema escuro - correção */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #111111 inset !important;
    -webkit-text-fill-color: #00ffa3 !important;
    caret-color: #00ffa3;
}